.parent img{
	position: relative;
	top: 50px;
	left: 30px;
}

.img_1 {
	position: absolute;
	top: 30px;
	left: 30px;
	border: 1px green solid;
}
.img_2 {
	position: absolute;
	top: 30px;
	left: 30px;
	border: 1px green solid;
}
.img_3 {
	position: absolute;
	top: 30px;
	left: 30px;
	border: 1px green solid;
}
.img_4 {
	position: absolute;
	top: 30px;
	left: 30px;
	border: 1px green solid;
}
.camputer img {
	position: relative
	top: 0;
	left: 0;
	border: 1px red solid;;
}